{% extends 'stores/home.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Eliminar un proveedor                            
                        </h6>
                        
                    </div>
                    <div class="card-body">
                        <form class="user" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" placeholder="Nombre" name="name" value="{{ supplier.name|default_if_none:"" }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" placeholder="Direccion" name="address" value="{{ supplier.address|default_if_none:"" }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" placeholder="Telefono" name="phone" value="{{ supplier.phone|default_if_none:"" }}" disabled>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" placeholder="email" name="email" value="{{ supplier.email|default_if_none:"" }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
                                    <i class="fas fa-trash"></i> Eliminar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Estas seguro que deseas eliminar este proveedor?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            El eliminar este registro puede afectar las ventas o contabilidad de tu tienda.
        </div>
        <div class="modal-footer">
            <form class="user" method="POST">
                {% csrf_token %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> 
                    Eliminar
                </button>
            </form>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}
